* {
  box-sizing: border-box;
  user-select: none;
  font-family: sans-serif;
}
body {
  margin: 0;
  height: 100vh;
}

.container {
  padding: 20px;
  width: 900px;
  display: flex;
  gap: 20px;
  align-items: end;
}

.message{
  height: 300px;
  gap: 10px;
  width: 320px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 40px;
}

.message p{
  background-color: rgb(207, 207, 207);
  font-size: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  transition: .02s ease transform;
  cursor: pointer;
  width: 80%;
  margin: auto;
}



.message p:active{
  transform: scale(.99);
}

.message p:hover{
  background-color: rgb(119, 119, 119);
}

.message .current{
  opacity: .3;
  pointer-events: none;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 30%; */
  gap: 1rem;
}

.board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #222;
  gap: 4px;
  padding: 4px;
}

.cell {
  background-color: white;
  color: #000;
  font-size: 34px;
  display: grid;
  place-items: center;
  transition: 0.03s linear transform;
  user-select: none;
  cursor: pointer;
}
.cell:active {
  transform: scale(0.95);
}

